<div class="container" ng-if="!myin.user">
    <p> You have not signed up yet. <a ui-sref="public.signup">Sign up Now!</a> </p>
  </div>
  <div class="container" ng-if="myin.user">
    <h2 id="menu-categories-title" class="text-center"> My Info </h2>

    <p>
      First Name: {{myin.userInfo.firstname}}<br>
      Last Name: {{myin.userInfo.lastname}}<br>
      Email: {{myin.userInfo.email}}<br>
      Phone Number: {{myin.userInfo.phone}}<br>
      Favorite: {{myin.userInfo.firstName}}<br>
    
      <div>
        <h2>Favorite</h2>
        <p>{{ myin.menuItemInfo.name }}</p>
        <p>{{ myin.menuItemInfo.description }}</p>
        <img class="" ng-src="images/menu/{{myin.menuItemInfo.menuLetters}}/{{myin.menuItemInfo.menuLetters}}.jpg">
      </div>
    </p>

  </div>
      