<div class="container">
    <h2 id="menu-categories-title" class="text-center">Sign Up</h2>
    <br>
    <div class="col-sm-8">
      <form name='regForm' class="form-horizontal" novalidate>
        <label for="firstname">First Name</label>
        <input class="form-control" type="text" name="firstname" id="firstname" placeholder="first name" ng-model="reg.user.firstname" required minlength="1">
        <div ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched"> You must enter a first name. </div>

        <label for="lastname">Last Name</label>
        <input class="form-control" type="text" name="lastname" id="lastname" placeholder="last name" ng-model="reg.user.lastname" required minlength="1">
        <div ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched"> You must enter a first name. </div>

        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="email" ng-model="reg.user.email" required>
        <div ng-if="regForm.email.$invalid && regForm.email.$touched"> Please enter a valid email address. </div>

        <label>Phone</label>
        <input class="form-control" type="text" name="phone" placeholder="###-###-####" ng-model="reg.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})" required>
        <div ng-if="regForm.phone.$invalid && regForm.phone.$touched"> Phone must be in the format ###-###-####. </div>

        <label>Favorite Dish </label>
        <input class="form-control" type="text" name="dish" placeholder="Dish short name, e.g. L1" ng-model="reg.user.dish" ng-change="reg.menuItem(reg.user.dish)" required>
        <div ng-if="reg.favorite && regForm.dish.$touched"> No such menu item exists. </div>

        <button ng-disabled="regForm.$invalid" ng-click="reg.submit()">Submit</button>
      </div>
      <div ng-if="reg.completed">
      Your information has been saved.
      </div>
    </form>
    </div>
</div>
</div>